/* M.QUỲNH làm trang này */
.member {
  margin: 40px 0;
}
.member h1 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.member p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}
.member__container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.member__container > div {
  width: 50%;
}
.member-col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.member-col label {
  font-weight: bold;
  display: block;
  color: #222;
}
.member-row {
  margin-bottom: 20px;
}
.member-col input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 15px;
  outline: none;
  border-radius: 6px;
  font-size: 15px;
}
.member-password {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}
.member-forgetPass {
  margin-top: 15px;
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s linear;
}
.member-forgetPass:hover {
  color: #0cb147;
}
