/* M.QUỲNH làm trang này */
.category {
  margin-top: 40px;
}
.category__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.category-link {
  text-decoration: none;
}
.category-link img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.productSlider {
  padding-top: 40px;
}
.productSlider__container {
  position: relative;
}
.productSlider .custom-nav-btn {
  position: absolute;
  top: 55%;
  background-color: transparent;
  border: none;
  font-size: 28px;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(38, 131, 71);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
}
.productSlider .custom-nav-btn:active {
  opacity: 0.6;
}
.productSlider .custom-prev-btn {
  left: 0;
}
.productSlider .custom-next-btn {
  right: 0;
}
.productSlider .product-item {
  position: relative;
}
.productSlider .product-sale {
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 11.5px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0.5rem;
  border-radius: 50%;
  background: linear-gradient(135deg, #fb8107 0%, #f8b500 50%, #fb8107 100%);
}
.productSlider ion-icon {
  font-size: 22px;
}
.section {
  background: url('../images/bg-danh-muc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 32px;
  padding: 60px 0;
}
.section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section h1 {
  font-size: 28px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.3;
  max-width: 277px;
}
.section-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.section-item {
  background-color: white;
  padding: 1px 25px 0;
  border-radius: 26px;
  text-align: center;
}
.section-item-image {
  border-radius: 26px;
  overflow: hidden;
  margin-top: -1.2rem;
}
.section-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-item span {
  display: inline-block;
  color: #666;
  text-transform: uppercase;
  padding: 12px 0;
}
.product {
  background: #f1f1f1cc;
  padding: 50px 0;
  text-align: center;
}
.product-caption {
  text-align: center;
  margin-bottom: 40px;
}
.product-caption::after {
  content: "";
  display: table;
  clear: both;
  background: url("../images/line-1.png");
  width: 100%;
  height: 20px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  padding-top: 0;
}
.product-tab {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: fit-content;
  margin: 0 auto;
}
.product-tab-item {
  background: #e1e1e1;
  border-radius: 30px;
  text-transform: uppercase;
  color: #777;
  display: inline-block;
  padding: 11px 26px;
  line-height: 1.3;
  font-weight: 500;
  cursor: pointer;
}
.product-tab-item.active {
  background-color: #56a045;
  color: white;
}
.product-wrapper {
  border-radius: 10px;
  padding: 10px 0 0;
  margin-top: 28px;
  background-color: white;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.product-item {
  border-bottom: 1.8px solid #f3f3f3;
  border-right: 1.8px solid #f3f3f3;
}
.product-item-image {
  display: inline-block;
}
.product-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.product-item-content {
  margin-top: 5px;
  padding: 10px 10px 20px 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product-item-content a {
  background-color: #118f3e;
  display: inline-block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  padding: 8px;
  font-family: inherit;
  cursor: pointer;
  transition: opacity 0.2s linear;
  text-align: center;
}
.product-item-content a:hover {
  opacity: 0.8;
}
.product-item-content h3 {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.3;
}
.product-item-content p {
  line-height: 1.4;
}
.product-item-content-price {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product-item-content-price del {
  font-size: 12px;
}
.product-item-content-price b {
  font-size: 15px;
  font-weight: bold;
  color: #15ac4a;
}
.about {
  padding: 50px 0;
  position: relative;
}
.about-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -5;
  background-color: #e8f7e2;
  width: 100%;
  height: 64%;
}
.about__container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.about-content-caption {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}
.about-desc {
  padding: 25px 0;
  line-height: 1.6;
}
.about-video {
  max-width: 585px;
  height: 343px;
  position: relative;
  z-index: 10;
}
.about-video img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.about-video-round {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2.8px solid white;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.about-video-round:hover {
  background-color: #118f3e;
  border-color: #118f3e;
}
.about-video-round ion-icon {
  font-size: 42px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-content {
  max-width: 620px;
}
.about-list {
  padding: 36px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  z-index: 5;
}
.about-item {
  display: flex;
  gap: 8px;
}
.about-item-content b {
  margin-bottom: 4px;
  display: block;
}
.about-item-content span {
  line-height: 1.4;
}
.news {
  padding: 50px 0;
}
.news-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news-top-heading {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}
.news-top-readMore {
  text-decoration: none;
  color: #118f3e;
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  text-transform: uppercase;
}
.news-list {
  margin-top: 28px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.news-item {
  cursor: pointer;
}
.news-item:hover .news-item-content a {
  color: #118f3e;
}
.news-item-image {
  position: relative;
  margin-bottom: 14px;
  overflow: hidden;
}
.news-item-image img {
  border: 1px solid #eee;
  padding: 3px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.news-item-image-date {
  position: absolute;
  top: 1rem;
  left: 0;
  background-color: #118f3e;
  padding: 5px 10px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2px;
  justify-content: center;
}
.news-item-content a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
  font-weight: 600;
  color: inherit;
  margin-bottom: 8px;
  display: block;
}
.news-item-content p {
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}